<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content no-bounce>

  <div class="img-scroll move"></div>

  <div class="wrapper">
    <img src="assets/img/logo.png" alt="">

    <h1>
      Cursos de condução automotiva
    </h1>

    <ion-list no-lines>

      <form (ngSubmit)="logForm()">
        <ion-item>
          <ion-input placeholder="Usuário" [(ngModel)]="login.username" name="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Senha" type="password" [(ngModel)]="login.password" name="password"></ion-input>
        </ion-item>
      <button ion-button type="submit" block>Entrat</button>
    </form>
    </ion-list>
    <!-- <button block ion-button (click)="goToHome()">
      Entrar
    </button> -->
  </div>

</ion-content>

<ion-footer no-border>
  <div class="img-scroll-inverse move-inverse rodape"></div>
</ion-footer>
