page-login {

  .scroll-content {
    margin-bottom: 0px !important;
  }

  .img-scroll {
    height: 100px;
    // width: 2040px;
    width: 1000px;
    background: url("../assets/img/sprite-veiculos.png") no-repeat;
    background-size: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 30px;
    // height: 100%;
    // transform: translate3d(0, 0, 0);
    &.rodape {
    }
  }

  .img-scroll-inverse {
    height: 100px;
    // width: 2040px;
    width: 1000px;
    background: url(../assets/img/sprite-veiculos-inverse.png) no-repeat;
    background-size: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 30px;
    // height: 100%;
    // transform: translate3d(0, 0, 0);
    &.rodape {
    }
  }
  .move {
    animation: moveSlideshow 30s linear infinite;
    animation-direction: reverse;
  }

  .move-inverse {
    animation: moveSlideshow 30s linear infinite;
  }

  @keyframes moveSlideshow {
    100% {
      // transform: translateX(-66.6666%);
      transform: translateX(-100%);
    }
  }

  div {
    &.wrapper {
      width: 80%;
      @include centerer();
      text-align: center;
      img {
        width: 260px;
        // margin-bottom: 20px;
      }
      h1 {
        color: #e3bf37;
        font-size: 2rem;
      }

      .list {
        padding: 16px 0px 0px;
        .item {
          background-color: darken(#f9f9f9, 3%);
          @include border-radius(30px);
          margin-top: 10px;
          padding-left: 0px;
          .item-inner {
            padding-left: 16px;
          }
        }
      }
      button {
        background-color: #e3bf37;
        margin-top: 15px;
        @include border-radius(30px);
        &.activated {
          background-color: lighten(#e3bf37, 10%);
        }
      }
    }
  }

  .footer {
    height: 100px;
  }

}
