tabs {
  .tabs {
    .tabbar {
      background: #e2c750;
      .tab-button {
        .tab-button-icon {
          color: darken(white, 10%);
        }
        &.tab-button[aria-selected=true] {
          .tab-button-icon {
            color: white;
          }
        }
      }
    }
  }
}