<ion-tabs>
  <ion-tab [root]="tab1Root" tabIcon="md-calendar"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="md-stats"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="person"></ion-tab>
</ion-tabs>
