<!-- <ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <div class="header-wrapper">
    <img src="assets/img/topo.jpg" alt="">
    <h1>Cursos de condução automotiva</h1>
  </div>

  <div class="body-wrapper">
    <h2>Escolha seu curso</h2>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="assets/img/thumb01.jpg" alt="">
        </ion-col>
        <ion-col>
          <img src="assets/img/thumb02.jpg" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="assets/img/thumb03.jpg" alt="">
        </ion-col>
        <ion-col>
          <img src="assets/img/thumb04.jpg" alt="">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> 
</ion-content>

