page-home {
  .scroll-content {
    .header-wrapper {
      height: 50vh;
      h1 {
       color: white;
       text-align: center; 
       position: absolute;
       top: 18%;
       // @include centerer();
      }
    }
    h2 {
      color: #e2c750;
      margin: 0px;
      margin-left: 20px;
    }
    .row {
      padding: 0px 10px;
    }
  }

}
