page-onboard {

  ion-navbar {
    .toolbar-background {
      background: transparent;
    }
    button {
      ion-icon {
        color: white;
      }
      opacity: 1;
    }
    .toolbar-title {
      color: black;
    }
  }

  .swiper-pagination {
    margin-bottom: 20px;
  }
  .swiper-pagination-bullet {
    background-color: #333; 
  }

  .scroll-content {
    padding-top: 0px !important;
    margin-top: 0px !important;
    background-color: #fff;
  }

  .slide-image {
    width: 280px;
  }

  .bar-buttons {
    button {
      background-color: #e0cb77;
      &.activated {
        background-color: darken(#e0cb77, 20%);
      }
    }
  }

  .img-scroll {
    height: 100px;
    width: 2040px;
    background: url(../../assets/img/sprite-veiculos.png) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    // height: 100%;
    // transform: translate3d(0, 0, 0);
    &.rodape {
      margin-top: 100%;
    }
  }
  .move {
    animation: moveSlideshow 30s linear infinite;
  }

  @keyframes moveSlideshow {
    100% { 
      transform: translateX(-66.6666%);  
    }
  }

  
}

