<ion-header no-border>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <!-- <div class="img-scroll move"></div> -->
  <ion-slides #tutorial pager>
    <ion-slide *ngFor="let slide of slides;">
      <div>
        <div [ngClass]="slide.anim"></div>
      </div>
      <img [src]="slide.image" class="slide-image"/>
      <p [innerHTML]="slide.description"></p>
      <ion-buttons>
        <button ion-button round icon-right *ngIf="!slider.isEnd()" (click)="proximo()">
          Próximo
        </button>
        <button class="iniciar-btn" ion-button round icon-right *ngIf="slider.isEnd()" (click)="proximo()">
          Começar
        </button>
      </ion-buttons>
    </ion-slide>
  </ion-slides>
  <!-- <div class="img-scroll move rodape"></div> -->
  <!-- <button class="skip-btn" clear ion-button small [hidden]="slider.isEnd()" (click)="fim.emit()">
    Pular
  </button> -->
</ion-content>